@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

.borderedButton {
  background-color: #1ab2a6;
  border-radius: 10px;
  padding: 16px;
  color: white;
}

.gggg {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.greenButton {
  border-radius: 10px;
  display: flex ;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1ab2a6;
}






@media (min-width: 1025px) {
  .gggg {
    flex-wrap: nowrap !important;
    align-items: center !important;
  }
  .Archivments {
	width: 100% !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
  }
}
